language: node_js
node_js:
  - "4.0.0"
before_script:
  - gem install dpl
  - npm install grunt-cli -g
  - npm install firebase-tools -g
  - npm install bower -g
  - npm install
  - bower install
  - grunt deploy
#after_script:
  # Deploy Base Starterlog Application
#  - dpl --provider=firebase --token=${FIREBASE_TOKEN} --project=starterlog-org --public=dist

  # Deploy Demo Starterlog Application
  # Update FIREBASE_URL
  # - sed -i -e 's|constant("FIREBASE_URL","https://starterlog-org.firebaseio.com/")|constant("FIREBASE_URL","https://starterlog-demo.firebaseio.com/")|g' dist/scripts/scripts.*.js
#  - grunt demo
#  - dpl --provider=firebase --token=${FIREBASE_TOKEN} --project=starterlog-demo --public=dist
