
<form name="profileForm" class="form-horizontal well" ng-submit="profileCtrl.updateProfile()" >
  <fieldset>
    <legend>Edit Profile</legend>
    <br>
    <uib-tabset>
        <uib-tab heading="Personal">
          <br>
    <div class="form-group">
      <label for="inputUsername" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-5">
        <input name="username" type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="profileCtrl.profile.email" readonly >
      </div>
    </div>
    <div class="form-group">
      <label for="inputDisplayName" class="col-lg-2 control-label">Display Name</label>
      <div class="col-lg-5">
      <input name="displayName" required type="text" class="form-control" placeholder="Display Name" ng-model="profileCtrl.profile.displayName">
    </div>
  </div>
    <div class="form-group">
      <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
      <div class="col-lg-5">
      <input name="firstName" required type="text" class="form-control" placeholder="First Name" ng-model="profileCtrl.profile.firstName">
    </div>
  </div>
    <div class="form-group">
      <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
      <div class="col-lg-5">
      <input name="lastName" required type="text" class="form-control" placeholder="Last Name" ng-model="profileCtrl.profile.lastName">
    </div>
  </div>

    <!--<div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="off" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Checkbox
          </label>
        </div>
      </div>
    </div>-->
    <div class="form-group">
      <label for="textAreaBio" class="col-lg-2 control-label">Bio</label>
      <div class="col-lg-5">
        <textarea name="bio" class="form-control" rows="3" id="textArea" ng-model="profileCtrl.profile.bio"></textarea>
      </div>
    </div>
  </uib-tab>
  <uib-tab heading="Contact">
    <br>
    <div class="form-group">
      <label for="inputWorkPhone" class="col-lg-2 control-label">Work</label>
      <div class="col-lg-5">
      <input name="workPhone" type="text" class="form-control" placeholder="Work Telephone" ng-model="profileCtrl.profile.workPhone">
    </div>
  </div>
  <div class="form-group">
    <label for="inputMobilePhone" class="col-lg-2 control-label">Mobile</label>
    <div class="col-lg-5">
    <input name="mobilePhone" type="text" class="form-control" placeholder="Mobile Telephone" ng-model="profileCtrl.profile.mobilePhone">
  </div>
</div>
<div class="form-group">
  <label for="inputHomePhone" class="col-lg-2 control-label">Home</label>
  <div class="col-lg-5">
  <input name="homePhone" type="text" class="form-control" placeholder="Home Telephone" ng-model="profileCtrl.profile.homePhone">
</div>
</div>
<div class="form-group">
  <label for="inputEmail" class="col-lg-2 control-label">Email</label>
  <div class="col-lg-5">
    <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="profileCtrl.profile.email" readonly >
  </div>
</div>

  </uib-tab>
  <uib-tab heading="Organization">
    <br>
    <div class="form-group">
      <label for="inputDepartment" class="col-lg-2 control-label">Department</label>
      <div class="col-lg-5">
        <input name="department" type="text" class="form-control" id="inputDepartment" placeholder="Department" ng-model="profileCtrl.profile.department" >
      </div>
    </div>
    <div class="form-group">
      <label for="inputTeam" class="col-lg-2 control-label">Team</label>
      <div class="col-lg-5">
        <input name="team" type="text" class="form-control" id="inputTeam" placeholder="Team" ng-model="profileCtrl.profile.team" >
      </div>
    </div>
    <div class="form-group">
      <label for="inputManager" class="col-lg-2 control-label">Manager</label>
      <div class="col-lg-5">
        <input name="manager" type="text" class="form-control" id="inputManager" placeholder="Manager" ng-model="profileCtrl.profile.manager" >
      </div>
    </div>
  </uib-tab>
</uib-tabset>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <a href="#/dashboard" type="reset" class="btn btn-sm btn-default">Cancel</a>
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
        <a href="#" class="btn btn-sm btn-warning" ng-click="profileCtrl.logout()">Logout</a>
      </div>
    </div>
  </fieldset>
</form>
