<h3><i class="fa fa-file"></i> &nbsp; Blog Posts</h3>

<br/>
<button ng-click="tablePosts.filter({})" class="btn btn-sm pull-right" style="padding:10px;">Clear Filter</button>
    <table ng-table="tablePosts" class="table table-striped table-bordered" show-filter="true">

        <tr ng-repeat="post in $data">

            <td data-title="'Title'" class="align-left" filter="{ 'title': 'text' }">
                {{post.title}}
            </td>
            <td data-title="'Author'" class="align-left" filter="{ 'author': 'text' }">
                {{post.author}}
            </td>
            <td data-title="'Status'" class="align-left" filter="{ 'status': 'text' }">
                {{post.status}}
            </td>
            <td>
              <a href="#/blog/posts/view/{{post.$id}}" class="btn btn-xs btn-default"><i class="fa fa-search"> </i></a>
              <a href="#/blog/posts/edit/{{post.$id}}" class="btn btn-xs btn-success"><i class="fa fa-pencil-square-o"> </i></a>
              <a href="" ng-click='delete(post)' class="btn btn-xs btn-warning"><i class="fa fa-trash-o"> </i></a>
            </td>
        </tr>

    </table>
    <a href="#/blog/posts/create" class="btn btn-sm btn-primary pull-left" style="padding:10px;"><i class="fa fa-lg fa-plus"></i> &nbsp;Create Post</a>

</div>
